    .grid_1-1-1-1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .image_1 {
        grid-column: span 2;
    }

    .image_4 {
        grid-column: span 2;
    }

    .image_5 {
        grid-column: span 2;
    }

    .image_6 {
        grid-column: span 2;
    }


@media (min-width: 700px) {
    section.grid_2-1 {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 20px;
    }

    section.grid_1-1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    .col.order {
        order: -1;
    }

    .dd_1 {
        grid-row: 2/3;
        grid-column: 1/2;
    }
    
    .dd_3 {
        grid-row: 4/5;
        grid-column: 1/2;
    }

    .grid_1-1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .grid_5-3 {
        display: grid;
        grid-template-columns: 5fr 3fr;
        gap: 20px;
        }
    
    .grid_2-3 {
        display: grid;
        grid-template-columns: 2fr 3fr;
        gap: 20px;
    }
    
    .grid_3-2 {
        display: grid;
        grid-template-columns: 3fr 2fr;
        gap: 20px;
        grid-row: 2/3;
        grid-column: 1/2;
    }
    
    .order {
        order: 4;
    }

    .grid_1-1-1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }

    .grid_1-1-1-1 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 5px;
    }

    .image_1 {
        grid-column: span 2;
        grid-row: span 2;
    }

    .image_4 {
        grid-column: span 2;
    }

    .image_2 {
        grid-column: span 1;
        grid-row: span 1;
    }

    .image_5 {
        grid-column: span 1;
        grid-row: span 1;
    }

    .image_6 {
        grid-column: span 3;
    }

    .flex_col {
        display: flex;
        flex-direction: column;
    }

    .flex_col > :last-child {
        margin-top: auto;
    }

}
